.navbar {
  position: fixed;
  top: 50%;
  left: -5%;
  transform: rotate(-90deg);
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  transform: rotate(90deg);
}

.nav-link-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e4e4e4;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative; /* Add this */
}

.nav-link-border:hover {
  background-color: #999;
}

.nav-link-border:hover svg {
  color: white; /* Change the color of the icons */
}

.nav-link {
  color: rgb(87, 87, 87);
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.popup-text {
  position: absolute;
  left: 80%; /* Position to the right of the icon */
  background-color: #999; /* Background color of the popup text */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for the text */
  border-radius: 5px; /* Rounded corners */
  opacity: 0; /* Hidden by default */
  pointer-events: none; /* Prevents the popup text from interfering with clicks */
  transition: opacity 0.3s ease;
  z-index: -1; /* Place it behind the icons */
}

.nav-link-border:hover .popup-text {
  opacity: 1;
}


