.navbar {
  position: fixed;
  top: 50%;
  left: -5%;
  transform: rotate(-90deg);
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  transform: rotate(90deg);
}

.nav-link-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e4e4e4;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-link-border:hover {
  background-color: #999;
}

.nav-link-border:hover svg {
  color: white; /* Change the color of the icons */
}

.nav-link {
  color: rgb(87, 87, 87);
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}
