html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    background-color: #ffffff; 
    background-image: linear-gradient(to bottom, #fcfcfc 30%, #8b8b8b54 70%); 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    display: flex; /* Use flexbox to position the elements */
    flex-direction: row; /* Arrange the elements horizontally */
    width: 800px; /* Increase the width to accommodate both elements */
    padding: 20px;
    text-align: center;
  }

  .card2 {
    font-family: Century Gothic;
    display: flex;
    background: linear-gradient(to top, #596770 30%, #acacb3 70%); 
    flex-direction: column;
    color: black;
    width: 300px;
    height: 400px;
    text-align: center;
    border: solid;
    border-color:black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Add border-radius to make the border rounded */
    margin-left: 30px; /* Add margin-bottom to create space between each card */
    transition: transform 0.3s ease;
  }
  
  .card2:hover  {
    transform: scale(1.05);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
  }

  .card3 {
    font-family: Century Gothic;
    display: flex;
    background: linear-gradient(to top, #596770 30%, #acacb3 70%); 
    flex-direction: column;
    color: black;
    width: 300px;
    height: 400px;
    text-align: center;
    border: solid;
    border-color:black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Add border-radius to make the border rounded */
    margin-left: 30px; /* Add margin-bottom to create space between each card */
    transition: transform 0.3s ease;
  }
  
  .card3:hover  {
    transform: scale(1.05);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;

  }
  
  .profile-picture-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    transition: transform 0.3s ease;
  }
  
  .profile-picture-container:hover .profile-picture {
    transform: scale(1.1);
  }
  
  .profile-picture-container:hover::after {
    content: "Thats me";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .description {
    flex: 2; /* Take up the remaining space */
    text-align: center; /* Align the text to the left */
  }
  
  .description h1 {
    font-family: Century Gothic;
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 20px;
    font-family: Century Gothic;
  }

  .spacer {
    flex: 1; /* Take up the remaining space */
    margin-bottom: 20px; /* Adjust the margin value as needed */
  }
  
  
  .social-link-fb {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: black;
  }

  .social-link-linkedin {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: black;
  }

  .social-link-git {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: black;
  }

  .social-link-mail {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: black;
  }

  .social-link-fb:hover {
    color: rgb(57, 149, 202);
  }
  
  .social-link-linkedin:hover {
    color: rgb(17, 129, 194);
  }

  .social-link-git:hover {
    color: rgb(168, 164, 164);
  }

  .social-link-mail:hover {
    color: rgb(179, 108, 108);
  }

  .container2 {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 120px 20px 0;
  }
  
  .container2 h2 {
    font-size: 48px;
    text-transform: uppercase;
    margin: 100px 0 0 50px;
    font-family: "Century Gothic";
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  
  button[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  