html {
    height: 100%;
    background-color: rgb(0, 0, 0);
  }
  
  body {
    height: 100%;
    margin: 0;
    background-color: #f3f0f000; 
    
  }
  
  .container-home {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-about-h2 {
    color: white;
    position: absolute;
    top: 100%;
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Century Gothic";
  }

  .container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-skills-h2 {
    color: white;
    position: absolute;
    top: 200%;
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Century Gothic";
  }

  .container-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-projects-h2 {
    color: white;
    position: absolute;
    top: 300%;
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Century Gothic";
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container-contact h2 {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-family: "Century Gothic";
  }
  
  .card {
    display: flex; /* Use flexbox to position the elements */
    flex-direction: row; /* Arrange the elements horizontally */
    width: 800px; /* Increase the width to accommodate both elements */
    padding: 20px;
    text-align: center;
  }

  .loaded-animation-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2s;
  }

  .loaded-animation-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .profile-picture-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid gray;
    border-color:black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .profile-picture-container:hover .profile-picture {
    transform: scale(1.1);
    border-color:black;
    box-shadow: 5px 10px 6px rgba(0, 0, 0, 0.3);
  }
  
  .profile-picture-container:hover::after {
    content: "That's me";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #424242;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .description {
    flex: 2; /* Take up the remaining space */
    text-align: center; 
  }
  
  .description h1 {
    font-family: Century Gothic;
    font-size: 50px;
  }
  
  .description p {
    font-size: 30px;
    font-family: Century Gothic;
  }

  .spacer {
    flex: 1; /* Take up the remaining space */
    margin-bottom: 20px; 
  }
  
  .social-link-fb {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: rgb(255, 255, 255);
  }

  .social-link-linkedin {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: rgb(255, 255, 255);
  }

  .social-link-git {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: rgb(255, 255, 255);
  }

  .social-link-mail {
    font-size: 28px;
    margin-right: 20px;
    transition: color 0.3s;
    color: rgb(255, 255, 255);
  }

  .social-link-fb:hover {
    color: rgb(175, 175, 175);
  }
  
  .social-link-linkedin:hover {
    color: rgb(175, 175, 175);
  }

  .social-link-git:hover {
    color: rgb(175, 175, 175);
  }

  .social-link-mail:hover {
    color: rgb(175, 175, 175);
  }

  .card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    border-radius: 10px; /* Add border-radius to make the border rounded */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px; /* Add margin-bottom to create space between each card */
  }
  
  .card2 p, 
  .card2 h2 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .scroll-animation-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
  }

  .scroll-animation-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .card3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 300px;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Add border-radius to make the border rounded */
    margin-left: 30px; /* Add margin-bottom to create space between each card */
    line-height: 1.2;
  }
  
  .card3 h2 {
    background-color: rgb(90, 136, 189);
    color: white;
    margin-top: 0; /* Remove the default margin for the h2 element */
    padding: 10px; /* Add some padding to create space within the background */
    border-top-left-radius: 10px; /* Add border-radius to the top-left corner */
    border-top-right-radius: 10px; /* Add border-radius to the top-right corner */
  }

  .card3 p {
    margin-top: 4px;
    font-size: large;
    font-weight: bold;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    font-family: "eurostile", sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 400px;
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 30px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .card4 .project-img-card {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .card4 .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin-left: 14px;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }
  
  .card4:hover .project-img {
    opacity: 0;
  }
  
  .card4 .card-text {
    position: absolute;
    background-color: rgb(80, 73, 73);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card4:hover .card-text {
    opacity: 1;
  }
  
  .card4 h2 {
    margin: 10px;
  }

  .card4 p {
    margin: 10px;
  }

  .card4 p2 {
    margin: 10px;
    font-weight: bold;
  }
  
  .card4 .card-links a {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(102, 102, 187);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card4:hover .card-links a {
    opacity: 1;
  }
  
  .card4 .card-links a:hover {
    background-color: rgb(58, 58, 212);
  }
  
  .card5 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 400px;
    height: 550px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    line-height: 1.2;
  }
  
  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    resize: vertical; /* Optional: Allow vertical resizing */
  }
  
  
  button[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .contact-icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-icon {
    margin: 0 5px;
    font-size: 20px;
    color: #000203;
    text-decoration: none;
  }
  
  .project-img-card {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  
  .project-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-left: 10px;
  }
  
  /* Media Queries for Mobile View */

@media (max-width: 768px) {

  .container-home {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .container-about-h2 {
    display: none;
  }

  .container-skills-h2 {
    display: none;
  }

  .container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115vh;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width:100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar {
    display: none; /* Hide the navbar in mobile view */
  }

  .card2 {
    width: 80%;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
  }

  .card2 h2,
  .card2 p {
    font-size: 20px;
  }

  .scroll-animation-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
  }

  .scroll-animation-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .card3 {
    width: 70%;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 10px;
    margin-top: 1px;
  }

  .card3 p {
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .card4 {
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .card4 h1 {
    display: none;
  }

  .card4 .project-img-card {
    height: 200px;
  }
  
  .card4 .card-text {
    padding: 10px;
  }
  
  .card4 .card-links {
    flex-wrap: wrap;
  }
  
  .card4 .card-links a {
    margin: 4px;
  }

  .container-projects-h2 {
    position: absolute;
  }

  .profile-picture-container {
    margin-right: 0px;
  }
  
  .description h1 {
    font-size: 36px;
  }

  .description p {
    font-size: 16px;
  }

  .container2 h2 {
    font-size: 36px;
    margin: 50px 0 0 20px;
  }

  form {
    width: 100%;
  }
}
  